<material-toolbar id="top-toolbar" >
	<div>
		<div class="material-toolbar-tools" style="margin-left: 9px; cursor: pointer;"
			ui-sref='client.charts' onmouseover="" >
			<span id="logo-icon" class="toolbar-title" style="font-size:24px;"><img
						src="/assets/images/zing-plus-icon.png" height="25px"
						width="25px"/>  ZingChart</span> 
				<span flex=""></span> 
				<material-button ng-href="/logout"><a href="/logout" style="color:#f1f1f1">Logout</a></material-button>
			</div>	</div>
</material-toolbar>
