<material-sidenav id="sidebar" class="material-sidenav-left material-whiteframe-z2" component-id="left">
	<material-content>
		<material-button ui-sref-active="active" class="menu-item" ink-ripple="" ui-sref="client.users">Public Charts</material-button>
		<material-button ui-sref-active="active" class="menu-item" ink-ripple="" ui-sref="client.charts">Your Charts</material-button>
		<!-- <material-button ui-sref-active="active" class="menu-item" ink-ripple="" ui-sref="client.support">Help </material-button> -->
	</material-content>
</material-sidenav>
<main flex style="margin-left:15px;margin-right:15px;">
	<div ui-view></div>
</main>
<!-- <main flex style="margin-left:15px;margin-right:15px;"> -->
<!-- </main> -->
<!--
2.  Fix Support
3.  Fix Grid Buttons
4.  SYNC
-->
