<div id="sidenav-container" class="col-sm-3 col-md-2 sidebar" >
          <ul class="nav nav-sidebar">
            <li ng-class="{ active: isActive('/')}"><a ng-href="{{clientId}}">{{clientId}}</a></li>
            <li ng-class="{ active: isActive('/')}"><a ng-href="http://www.gravatar.com/avatar/{{hash}}">{{client.name}}</a></li>
            <li ng-class="{ active: isActive('/')}"><a ng-href="http://www.gravatar.com/avatar/{{hash}}">Charts</a></li>
            
          </ul>
          
        </div>
