<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Simple app</title>
<script src="/lib/material/bower_components/jquery/dist/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.js"></script><!-- load angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-animate.min.js"></script>
<script src="/lib/material/config/lib/angular-animate-sequence/angular-animate-sequence.js"></script>
<script src="/lib/material/config/lib/angular-animate-sequence/angular-animate-stylers.js"></script>
<script src="/lib/material/dist/material-design.js"></script>
<script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
        
<script src="/js/angular-ui-router.js"></script>
<script src="testapp.js"></script>
<link rel="stylesheet" href="docs.css">
<link rel="stylesheet" href="/lib/material/dist/material-design.css" >
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css">

    <style>
        .full {
            width: 100%;
            height: 100%;
          }
          
    </style>
</head>
<body>
    
    <script>
       function findNumber(arr){
        var answer;
        var len = arr.length;
        for(var i=0;i<len;i++){
            var num = arr[i];
            if (num < 0 || num > 10000){
                answer = num;
                break;
            }
        }
        return answer;
       }
       
       alert(findNumber([8,4,3,2,-1]));

    </script>

<material-toolbar class="material-theme-light">
      <div class="material-toolbar-tools" style="margin-left: 9px">Components</div>
    </material-toolbar>
    
<material-sidenav class="material-sidenav-left material-whiteframe-z3" component-id="left" ng-click="goHome()">
    <div layout="vertical" layout-fill>
      <material-content flex>
        <material-list>
          <material-item><div ng-cloak class="material-tile-content">Item 1</div></material-item>
          <material-item><div ng-cloak class="material-tile-content">Clients</div></material-item>
          <material-item><div ng-cloak class="material-tile-content">Users</div></material-item>
          <material-item><div ng-cloak class="material-tile-content">Charts</div></material-item>
        </material-list>
      </material-content>
    </div>
  </material-sidenav>

  <div class="sidenav-content" style="top: 64px;">
    
    <div ng-controller="AppCtrl" class="inset full">
    <material-content>
    
        <material-checkbox>
        <input type="checkbox" ng-model="data.cb1">
        Checkbox 1: {{ data.cb1 }}
      </material-checkbox>
    
      <material-checkbox>
        <input type="checkbox" ng-model="data.cb2" ng-true-value="yup" ng-false-value="nope">
        Checkbox 2: {{ data.cb2 }}
      </material-checkbox>
      
      <material-tabs selected="selectedIndex" style="background-color: #4285F4;">
        <material-tab label="ITEM ONE"></material-tab>
        <material-tab label="ITEM TWO"></material-tab>
        <material-tab label="ITEM THREE"></material-tab>
        <material-tab label="ITEM FOUR"></material-tab>
    </material-tabs>
      <div  ng-switch on="selectedIndex">
        <div ng-switch-when="0">
            View for Item #1<br/>
            Selection index = 0
        </div>
        <div  ng-switch-when="1">
            View for Item #2<br/>
            Selection index = 1
        </div>
        <div ng-switch-when="2">
            View for Item #3<br/>
            Selection index = 2
        </div>
        <div ng-switch-when="3">
            View for Item #4<br/>
            Selection index = 3
        </div>
    </div>
      
     <material-tabs>
      <material-tab>
        <material-tab-label>
          <h3>My Tab content</h3>
        </material-tab-label>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
      </material-tab>
      <material-tab>
        <material-tab-label>
          <h3>Tab 2</h3>
        </material-tab-label>
        <p>
          Content 2
        </p>
      </material-tab>
     </material-tabs>
      
      
      <div class="inset full">
  <button class="material-button material-button-colored" ng-click="dialog($event)">
    Open a Dialog
  </button>
</div>
      
      
      
  </material-content>
  
  </div>
  

</div>


1.  Get Popup Insides to be materials
3.  Copy all to users
4.  Copy all to groups
5.  Copy all to charts


</body>
</html>