

<div class="partial-editor">
	<div class="row"  id="editor-ide" style="background-color:#f9f9f9;">
		<div class="col-md-6 partial-ide" ng-controller="EditorController">
			<!-- toolbar -->


			<!-- editor.ide --> 
			<div ui-view="ide"> </div>		
		</div>	

		<!-- api and preview column -->
		<div class="col-md-6"> 
			<div class="row" style="background-color:#fff;">
				<div class="col-md-12">
					<div class="api-container" ui-view="api"> </div>		
				</div>
				<!-- .preview -->
				<div class="col-md-12">
					<div class="preview-container" ui-view="preview"> </div>
				</div>
			</div>
		</div>
	</div>	
</div>


<style type="text/css">
	div.header-toolbar {
	height:49px;
	background-color:#585D66;
	color: #4d4d4d;
	/* position:relative; */
}

div.ace-editor {
	height:900px;
	/* width:650px; */
	overflow:inherit;
	border-right: solid 1px #dcdcdc;
}
div.editor {
	position:relative;
	/* width:650px; */
	left:100px;
}

div.editor-sidebar-item {
	width: 65px;
	height:36px;
	margin-top:15px;
	margin-left:10px;
}
div.editor-sidebar {
	position:absolute;
	/* background-color:#2e333a; */
	color:#fff;
	background-color:#3d4149;
	height:1000px;
	padding-right:0px;
	width:100px;
}
sidebar-item-header {
	margin-left: 10px;
}
</style>
